*.a
*.cache
*.gz
*.la
*.lo
*.log
*.o
*.so
*.status
*.sw?
*.tab
*.trs
*~
.deps
.libs
/Makefile
/cantera-term
/config.h
/expression-lexer.cc
/expression-parser.cc
/expression-parser.hh
/expression-test
/fuzz
/fuzz-test
/libtool
/location.hh
/position.hh
/stack.hh
/stamp-h1
