*-stamp
*.a
*.cache
*.gz
*.la
*.lo
*.log
*.o
*.so
*.status
*.sw?
*.tab
*.trs
*~
.deps
.dirstamp
.libs
/Makefile
/cantera-term
/config.h
/expression-test
/fuzz
/fuzz-test
/libtool
/stamp-h1
/Makefile.in
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/test-driver
/ylwrap
/expression-lexer.cc
/expression-parser.cc
/expression-parser.hh
/location.hh
/position.hh
/stack.hh
