terminal
{
  history-size 10000
  font "DejaVu Sans Mono"
  font-weight 100
  font-size 13
  palette "000000 1818c2 18c218 18c2c2 c21818 c218c2 c2c218 c2c2c2 686868 82a0ff 54ff54 54ffff ff5454 ff54ff ffff54 ffffff" 
}

hotkey
{
  d "dmenu_run -nb black -nf white -sb black -sf yellow -m $CURRENT_SCREEN"

  b "cantera-term"
  f "chromium-browser"
  l "cantera-lock"
  n "setxkbmap no"
  u "setxkbmap us"
}
