[Desktop Entry]
Categories=System;TerminalEmulator;Utility;
Comment=terminal emulator for the X window system
Exec=cantera-term
Icon=terminal
Name=Cantera Terminal
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.22
