Source: cantera-term
Section: x11
Priority: extra
Maintainer: Morten Hustveit <morten.hustveit@gmail.org>
Build-Depends: debhelper (>= 7), autotools-dev, libfreetype6-dev, libmpfr-dev, libxrender-dev, libxft-dev, libglew-dev
Standards-Version: 3.9.5

Package: cantera-term
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: VT102 Terminal Emulator for X11
 The terminal emulator for the Cantera desktop environment.
